.fullscreenmessage-content {
    max-height: calc(100vh);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: block;
}

.fullscreenmessage-content .featureinfobox {
    padding-top: 1em;
    position: relative;
}

.fullscreenmessage-content .featureinfobox-content {
    padding: 1em;
    top: var(--variable-title-height);
    /* 2em extra: padding from the title */
    max-height: calc(100vh - var(--variable-title-height)) !important;
    display: block;
    position: absolute;
    overflow-y: auto;
    box-sizing: border-box;
}

.fullscreenmessage-content .featureinfobox-titlebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background-color: var(--background-color);
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
 
}

.fullscreenmessage-content .featureinfobox-tail {
    /*THe ornament to give the URL bar some room...*/
}

