/*
Contains tweaks for small screens
*/

.only-on-mobile {
    display: none !important;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

@media only screen and (max-width: 600px), only screen and (max-height: 600px) {

    .only-on-mobile {
        display: unset !important;
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    .hidden-on-mobile {
        display: none !important;
    }

    #help-button-mobile div {
        box-shadow: 0 0 10px #0006;
        margin-bottom: 10px;
    }

    #geolocate-button {
        display: block;
    }

    #centermessage {
        top: 30%;
        left: 15%;
        width: 60%;

    }

    .add-popup-all-buttons {
        /* Buttons in the 'add new point' have a default of 50vh maxheight which is ugly in the new context*/
        max-height: unset !important;
    }

    #messagesboxmobile {
        display: block;

        position: absolute;
        z-index: 10000;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    .leaflet-control-attribution{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    /* Portrait */
    #userbadge-and-search {
        display: inline-block;
        width: auto;
        max-width: 100vw;
    }

    .userbadge-login {
        min-width: unset;
    }

    #userbadge {
        margin-bottom: 0.3em;
    }
}


