
.oh-table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.oh-table th {
    font-weight: bold;
    font-size: medium;
    background-color: #ddd;
}

.oh-table td {
    vertical-align: top;
}

.oh-timecell:hover {
    background-color: lightsalmon !important;
}

.oh-timecell {
    background-color: white;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.oh-timecell-selected {
    background-color: red;
}

.oh-timecell-half {
    border-top: 0.5px solid #eee
}

.oh-timecell-half.oh-timecell-selected {
    border-top: 0.5px solid lightsalmon;
}

.oh-timecell-full {
    border-top: 1px solid #aaa
}

.oh-timecell-full.oh-timecell-selected {
    border-top: 1px solid lightsalmon;
}

.oh-left-col {
    border-top: 1px solid #aaa;
    width: 0.5em;
    font-size: large;
    margin: 0;
    padding: 0;
    padding-right: 0.2em;
    background: #ddd;
}

