.review-title {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.review-title img {
    max-width: 1.5em;
    height: 1.5em;
}


.review-rating img {
    max-width: 1em;
    height: 1em;
}

.review-rating {
    display: flex;
    flex-direction: row;
    width: 5em;
    margin-right: 0.5em;
    flex-shrink: 0;
}

.review-date {
    color: var(--subtle-detail-color-light-contrast);
}

.review-stars-comment {
    display: flex;
    margin-bottom: 0.5em;
}



.review-author {
    font-weight: bold;
    margin-right: 0.5em;
}

.review-author-date {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: flex-end;
}


.review-element {
    padding: 1em;
    margin: 0.5em;
    display: block;
    border-radius: 1em;
    background-color: var(--subtle-detail-color);
    color: var(--subtle-detail-color-contrast);
}

.review-attribution {
    display: flex;
    color: var(--subtle-detail-color-light-contrast);
    justify-content: flex-end;
    margin-right: 1em;
}

.review-attribution span {
    width: calc(65% - 3em);
    text-align: right;
    max-width: 20em;
}

.review-attribution img {
    height: 3em;
    margin-left: 0.5em;
}

