
.slick-next {
    top: unset;
    bottom: -25px;
    right: 15px;
    z-index: 10000;
}

.slick-prev {
    top: unset;
    bottom: -25px;
    left: 0;
    z-index: 10000;
}

.slick-next::before {
    font-size: 35px;
}

.slick-prev::before {
    font-size: 35px;
}