


.slick-carousel-content {
    width: 300px;
    max-height: var(--image-carousel-height);
    display: block;
    margin-left: 10px;
}

.slick-carousel-content img {
    /**
Workaround to patch images within a slick carousel
 */
    height: var(--image-carousel-height);
    width: auto;
}

