html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

form {
    display: inline;
}

.invalid {
    box-shadow: 0 0 10px #ff5353;
}

.shadow {
    box-shadow: 0 0 10px #00000066;
}




#leafletDiv {
    height: 100%;
}

#geolocate-button {
    position: absolute;
    bottom: 25px;
    right: 50px;
    z-index: 999; /*Just below leaflets zoom*/
    background-color: white;
    border-radius: 5px;
    border: solid 2px #0005;
    cursor: pointer;
    width: 43px;
    height: 43px;
    display: none; /*Hidden by default, only visible on mobile*/
}

#help-button-mobile {
    display: none;
}

#geolocate-button img{
    width: 31px;
    height:31px;
    margin: 6px;
}

/**************** GENERIC ****************/

.uielement {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.alert {
    background-color: #fee4d1;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.3em;
    margin: 0.25em;
    text-align: center;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}


.activate-osm-authentication {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}


/**************** USER BADGE ****************/

.small-userbadge-icon {
    width: 1em;
    height: 1em;
    fill: black;
    border-radius: 0;
}

#home {
    cursor: pointer;
}

#profile-pic {
    float: left;
    width: 4em;
    height: 4em;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear;
}

#username {
    text-decoration: none;
    color: black;
}


#usertext {
    width: max-content;
    margin: 0;

    padding: 0.9em;
    padding-left: 4.7em; /* Should be half of profile-pic's width + actual padding (same as padding-right)*/
    padding-right: 1.5em;
    border-radius: 2em; /*Half border radius width/height*/
    height: 2.2em; /*SHould equal profile-pic height - padding*/
    z-index: 5000;
    text-align: left;
    background-color: white;
    background-size: 100%;
    display: block;

    line-height: 0.75em;
}

#usertext a {
    text-decoration: none;
    color: black;
}

#userbadge {
    display: inline-block;
    text-align: center;
    background-color: white;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    border-bottom-right-radius: 1.5em;
    border-top-right-radius: 1.5em;
    transition: all 500ms linear;
    margin: 0;
    margin-bottom: 0.5em;

    min-width: 20em;
    pointer-events: all;
}

#userbadge-and-search {
    display: inline-block;
    width: min-content;
}


#searchbox {
    display: inline-block;
    text-align: left;
    background-color: white;
    transition: all 500ms linear;
    pointer-events: all;
    border-radius: 1.3em;
    margin: 0;
    margin-bottom: 0.5em;
    width: 100%;
}

.search {
    position: relative;
    float: left;
    height: 2em;
    margin-right: 0.5em;
}

#searchbox {
    width: 100%
}

#searchbox .form-text-field {
    position: relative;
    float: left;
    margin-top: 0.2em;
    margin-left: 1em;
    width: calc(100% - 4em)
}

#searchbox input[type="text"] {
    background: transparent;
    border: none;
    font-size: large;
    width: 100%;
    box-sizing: border-box;
}

.search-go {
    position: relative;
    float: right;
    height: 1.2em;
    border: 2px solid black;
    border-radius: 2em;
    padding: 0.4em;
    margin-left: 0.5em;
    margin-right: 0;

}

#userbadge {
    width: 100%
}

#userbadge p {
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


@media only screen and (max-height: 600px) and (not (max-width:700px)) {

    /* Landscape and portrait */
    #topleft-tools {
        padding: 0.1em;
        padding-left: unset;
    }

    #userbadge-and-search {
        position: relative;
        display: inline-block;
        width: auto;
        max-width: 50vw;
        margin: 0;
    }

    #userbadge {
        position: fixed;
        right: 0.3em;
        width: min-content;
        max-width: 50vw;
        margin:0;
        padding: 0;
    }


}


@media only screen and (max-width: 600px) {
    /* Portrait */
    #userbadge-and-search {
        display: inline-block;
        width: auto;
        max-width: 100vw;
    }

    #topleft-tools {
        padding: 0.2em !important;
        padding-top: 0.3em !important;
    }

    #userbadge {
        margin-bottom: 0.3em;
    }

}


/**************************************/


#topleft-tools {
    display: block;
    position: absolute;
    padding: 0;
    padding-top: 0.5em;
    padding-left:0.5em;
    z-index: 5000;
    transition: all 500ms linear;
    overflow: hidden;
    pointer-events: none;
    padding-right: 10px; /* Shadow offset */
}

#messagesboxmobilewrapper {
    display: none; /*Only shown on small screens*/
}

.collapse-button {
    position: absolute;
    background-color: #e5f5ff;
    width: 3.5em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    display: inline-block;
    height:100%;
    box-shadow: -10px 0 10px -10px #0006;
}

.collapse-button .collapse-button-img{
    background-color: #e5f5ff;
}

.open-button {
    width: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-bottom: 10px;
}

.open-button .collapse-button-img {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    background-color: white; 
    box-shadow: 0 0 10px #0006;
}

.collapse-button-img {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    background-color: white;
    box-shadow: none;
    margin: 0;
    
}

.collapse-button-img img{
    width: 1.5em;
    padding: 0.5em;
    margin: 0;
    padding: 0;
}

#welcomeMessage {
    display: inline-block;
    background-color: white;
    padding: 1em;
    margin-left: 3.5em;
    padding-left: 1em;
    padding-bottom: 2em;
    border-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    max-width: calc(max(35vw, 30em));
    max-height: calc(100vh - 15em);
    overflow-y: auto;
    box-shadow: 0 0 10px #00000066;
}

#messagesbox {
    /*Only shown on big screens*/
    position: relative;
    padding: 0;
    pointer-events: all;
}

/* filter ui */

.filter__popup {
    position: absolute;
    bottom: 0;
    z-index: 500;
    padding-left: 10px;
    padding-bottom: 10px;
}

.filter__button {
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.filter__button svg {
    vertical-align: middle;
}

#filter__selection{
}

#filter__selection form {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #ffffff;
    border-radius:  15px;
    border-bottom-left-radius: 30px;
    border: none;
    font-size: 16px;
    transform: translateY(60px);
    padding: 15px 0 60px 0;
}

#filter__selection label {
    font-size: 16px;
    background-color: #ffffff;
    padding: 0 15px 12px 15px;
    margin: 0;
    color: #003B8B;
    font-weight: 600;
}


#filter__selection select {
    outline: none;
    background-color: #F0EFEF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin: 0 15px;
    max-width: 250px; 
}

#filter__selection ul {
    background-color: #ffffff;
    padding: 10px 25px 18px 18px;
    list-style: none;
    margin: 0;
    font-weight: 600;
    transform: translateY(75px);
    max-height: calc(50vh - 10em);
    overflow-y: auto;
}

#filter__selection ul li span > span {
    display: flex;
    align-items: center;
}

#filter__selection ul svg {
    padding: 10px 14px 10px 0;
    border-right: 1px solid #003B8B;
}

#filter__selection ul img {
    width: 20px;
    height: auto;
    margin: 0 10px 0 18px;
}

.filter__label {
    font-size: 16px;
    transform: translateY(75px);
    background-color: #ffffff;
    padding: 10px 15px;
    margin: 0;
    color: #003B8B;
    font-weight: 600;
    border-radius: 15px 15px 0 0;
}


#centermessage {
    position: absolute;
    top: 30%;
    
    left: 25%;
    width: 50%;

    font-size: large;

    padding: 2em;
    border-radius: 2em;
    z-index: 4000;
    pointer-events: none;

    opacity: 1;
    background-color: white;

    transition: opacity 500ms linear;


    text-align: center;
    horiz-align: center;
    font-weight: bold;
}


@media only screen and (max-width: 600px), only screen and (max-height: 600px) {
    #messagesbox-wrapper {
        display: none;
    }

    #messagesbox {
        display: none;
    }
    
    #help-button-mobile{
        display: unset;
    }
    
    #help-button-mobile div {
        box-shadow: 0 0 10px #0006;
        margin-bottom: 10px;
    }

    #geolocate-button {
        display: block;
    }

    .leaflet-popup {
        /* Popups are hidden on mobile */
        display: none;
    }
    
    #centermessage {
        top: 30%;
        left: 15%;
        width: 60%;

    }

    #messagesboxmobilewrapper {
        position: absolute;
        padding: 0;
        margin: 0;
        z-index: 5050;
        transition: all 500ms linear;
        overflow: hidden;
        border-radius: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: white;
    }

    #messagesboxmobile-scroll {
        display: block;
        width: 100vw;
        overflow-y: auto;
        padding: 0;
        margin: 0;
        height: calc(100% - 5em); /*Height of to-the-map is 5em*/
    }

    #messagesboxmobile {
        padding: 1em;
        padding-bottom: 2em;
        border-radius: 1em;
        background-color: white;
    }

    #welcomeMessage {
        display: inline-block;
        background-color: white;
        padding: 1em;
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-height: max-content;
        box-shadow: unset;
        overflow-y: unset;
    }
    

}


#to-the-map {
    position: relative;
}

#to-the-map > span{
    
    position: absolute;
    box-sizing: border-box;
    height: 3em;
    
    padding: 0.5em;
    margin: 0;

    padding-top: 0.75em;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #7ebc6f;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;

}


@media only screen and (max-height: 400px) {
    /* Landscape: small 'to the map' */
    #to-the-map {
        position: relative;
        height: 100%;
        width: 100%
    }

    #to-the-map span {
        width: auto;
        border-top-left-radius: 1.5em;
        position: absolute;
        z-index: 5;
        right: 0;
        bottom: 0;
        height: auto;
        margin:0;
        padding: 1em;
        padding-bottom: 0.75em;
        height: 3em;
        font-size: x-large;
    }

    #messagesboxmobile {
        padding-bottom: 5em;
    }

    #messagesboxmobile-scroll {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }
    
    #welcomeMessage{
        box-shadow: unset;
        max-height: 100vh;
    }

}

.logo {
    float:right;
    margin: 1em;
    width: 10em;
    height: auto;
}

#bottomRight {

    display: block ruby;
    position: absolute;

    margin: auto;
    right: 1%;
    bottom: 1.5em;
    height: auto;
    min-height: 1em;
    width: auto;

    font-size: large;

    padding: 2em;
    border-radius: 2em;
    z-index: 5000;

    opacity: 1;
    background-color: white;

    transition: all 500ms linear;

    text-align: center;
    horiz-align: center;
    font-weight: bold;
}


/************ Slideshow *****************/


.image-slideshow {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.slides {
    overflow: hidden;
}

.prev-button {
    background-color: black;
    opacity: 0.3;
    width: 4.0em;

    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    z-index: 5060;

    border-radius: 1em;
}


.next-button {
    background-color: black;
    opacity: 0.3;
    width: 4.0em;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 1em;
    

    z-index: 5060;

}

.vspan {
    height: calc(50% - 3em);
}

.prev-button img {
    margin-left: -1em;
    width: 6em;
    text-align: center;
}

.next-button img {
    margin-left: -1em;
    width: 6em;
    text-align: center;
}

.slide > span {
    max-height: 40vh;
}

.slide > span img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 30vh;
    border-radius: 1em;
}


.hidden {
    /* This is used by the slideshow, to hide non-active slides*/
    display: none !important;

}


.imgWithAttr {
    max-height: 20em;

    position: relative;
    overflow: hidden;

}

.wikimedia-link {
    /*The actual wikimedia logo*/
    width: 1.5em !important;
}

.attribution {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: smaller;

    position: absolute;
    bottom: 0;
    left: 6em; /* Offset for the go left button*/
    padding: 0.25em;
    margin-bottom: 0.25em;
    border-radius: 0.5em;

}

.attribution-author {
    display: inline-block;
}

.license {
    font-size: small;
    font-weight: lighter;
}

.attribution a {
    color: white;
}


/**************** Image upload flow ***************/

.imageflow {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;

}

.imageflow-file-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    border-radius: 1em;
    border: 3px solid black;
}

.imageflow-add-picture {
    font-size: 28px;
    font-weight: bold;
    float: left;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
}

.imageflow-file-input-wrapper img {
    width: 36px;
    height: 36px;
    padding: 0.1em;
    margin-top: 5px;
    border-radius: 0;
    float: left;
}


.license-picker {
    background-color: orange;
    float: left;
}

.imageflow > input {
    display: none;
}


/***************** Info box (box containing features and questions ******************/

.leaflet-popup-content {
    width: 40em !important;
}

#messagesboxmobile .featureinfobox {
    max-height: unset;
    overflow-y: unset;
}

#messagesboxmobile .featureinfobox > div {
    width: 100%;
    max-width: unset;
    padding-left: unset;
}

.featureinfobox {
    max-height: 80vh;
    overflow-y: auto;
}

.featureinfobox > div {
    width: calc(100% - 2em);
    padding-left: 1em;
}


.featureinfoboxtitle {
    position: relative;
}

.osmlink {
    position: absolute;
    right: 0;
}

.osm-logo path {
    fill: #7ebc6f;
}

.featureinfoboxtitle .answer {
    display: inline;
    margin-right: 3em;
}

.featureinfoboxtitle .answer-text {
    display: inline;
}

.featureinfoboxtitle .editbutton {
    float: none;
    width: 0.8em;
    height: 0.8em;
    padding: 0.3em;
    border-radius: 0.35em;
    border: solid black 1px;
    margin-left: 0.5em;
    top: 0.2em;
    vertical-align: middle;

}


.editbutton {
    width: 1.3em;
    height: 1.3em;
    padding: 0.5em;
    border-radius: 0.65em;
    border: solid black 1px;

    font-size: medium;
    float: right;


}

.wikipedialink {
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    padding-right: 12px;
}

.wikipedialink img {
    width: 24px;
    height: 24px;
}


.featureinfoboxtitle span {
    font-weight: bold;
    font-size: x-large;
}

.featureinfoboxtitle a {
    float: right;
    margin-left: 1em;
}


.infoboxcontents {
    margin-top: 1em;
    margin-bottom: 0.5em;
}


.infobox-information {
    width: 100%;
    margin-top: 1em;
}

.question {
    margin-top: 1em;
    background-color: #e5f5ff;
    padding: 1em;
    border-radius: 1em;
    font-size: larger;

}

.question-text{
    font-size: larger;
    font-weight: bold;
}

.question-subtext{
    font-size: medium;
    font-weight: normal;
}

.answer {
    display: inline-block;
    margin: 0.1em;
    width: 100%;
    font-size: large;
}

.answer-text {
    width: 90%;
    display: inline-block
}

/******* THe remove image buttons ****/

.image-carousel-container {
    position: relative;
}

.image-is-removed{
    display: inline-block;
    left: 0;
    top: 2.5em;

    padding: 0.5em;
    padding-left: 0.75em;

    height: 3em;
    width: 14em;
    border-radius: 1em;
    background-color: black;

    color: white;
    font-weight: bold;
    height: 1.5em; /* same as .delete-image */

    z-index: 7000;
}

.image-delete-container {
    position: absolute;
    left: 6em;
    top: 1.5em;
    display: inline-block;
    z-index: 7000;

}

.delete-image {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border-radius: 3em;
    background-color: black;
}

.delete-image-confirm {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 2.5em;

    padding: 0.5em;
    padding-left: 0.75em;

    height: 3em;
    width: 14em;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #ff8c8c;

    color: white;
    height: 1.5em; /* same as .delete-image */

    z-index: 7000;
}

.delete-image-confirm span {
    font-size: larger;
    font-weight: bold;
}


.delete-image-cancel {
    display: inline-block;
    position: absolute;

    left: 0em;
    padding: 0.5em;
    padding-left: 0.75em;

    border-radius: 1em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    height: 1.5em; /* same as .delete-image */
    width: 14em; /* Same as delete-image-confirm */


    background-color: black;
    color: white;
    z-index: 7000;
}

.delete-image-cancel span {
    font-size: larger;
    font-weight: bold;

}

/**** The save button *****/

.save {
    display: inline-block;
    border: solid white 2px;
    background-color: #3a3aeb;
    color: white;
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: x-large;
    font-weight: bold;
    border-radius: 1.5em;
}

.save-non-active {
    display: inline-block;
    border: solid lightgrey 2px;
    color: grey;
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: x-large;
    font-weight: bold;
    border-radius: 1.5em;
}

.skip-button {
    display: inline-block;
    border: solid black 0.5px;
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 1.5em;
}