builds.mapcomplete.org {
	root * public/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}

dev.mapcomplete.org {
	root * public/develop/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}

single.mapcomplete.org {
	root * single_theme_builds/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}


velopark.mapcomplete.org {
	root * single_theme_builds/velopark/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}

app.mapcomplete.org {
	root * app/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}

countrycoder.mapcomplete.org {
	root * tiles/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
		+Access-Control-Allow-Origin *
	}
}

report.mapcomplete.org {
	reverse_proxy http://127.0.0.1:2348
}

studio.mapcomplete.org {
	reverse_proxy http://127.0.0.1:1235
}

lod.mapcomplete.org {
	reverse_proxy http://127.0.0.1:2346
}

ipinfo.mapcomplete.org {
	reverse_proxy 127.0.0.1:2347
}
