hosted.mapcomplete.org {
	file_server {
		root * public/
		header {
			+Permissions-Policy "interest-cohort=()"
	    }
    }
}

countrycoder.mapcomplete.org {
	file_server {
		root * tiles/
		header {
			+Permissions-Policy "interest-cohort=()"
			+Access-Control-Allow-Origin https://hosted.mapcomplete.org https://dev.mapcomplete.org https://mapcomplete.org
		}
	}
}

report.mapcomplete.org {
	reverse_proxy {
		to http://127.0.0.1:2600
	}
}

studio.mapcomplete.org {
	reverse_proxy {
		to http://127.0.0.1:1235
	}
}

lod.mapcomplete.org {
	reverse_proxy /extractgraph {
		to http://127.0.0.1:2346
	}
}
