hosted.mapcomplete.org {
	root * public/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
	}
}

countrycoder.mapcomplete.org {
	root * tiles/
	file_server
	header {
		+Permissions-Policy "interest-cohort=()"
		+Access-Control-Allow-Origin https://hosted.mapcomplete.org https://dev.mapcomplete.org https://mapcomplete.org
	}
}

report.mapcomplete.org {
	reverse_proxy {
		to http://127.0.0.1:2348
	}
}

studio.mapcomplete.org {
	reverse_proxy {
		to http://127.0.0.1:1235
	}
}

lod.mapcomplete.org {
	reverse_proxy /extractgraph {
		to http://127.0.0.1:2346
	}
}

ipinfo.mapcomplete.org {
    reverse_proxy {
        to 127.0.0.1:2347
    }
}

proxy0.mapcomplete.org {
    reverse_proxy {
        to 109.128.57.178:2345
    }
}
