html {
    --subtle-detail-color: #2c2 !important;
    --subtle-detail-color-contrast: white !important;
    --popup-border: #00ff00 !important;
    --catch-detail-color: #00ff00 !important;
    --catch-detail-color-contrast: black !important;
    --alert-color: #eb00ff !important;
    --background-color: black !important;
    --foreground-color: white !important;
    --shadow-color: #0f0 !important;
}
