import { Utils } from "./Utils"
import ThemeViewState from "./Models/ThemeViewState"
import SvelteUIElement from "./UI/Base/SvelteUIElement"
import ThemeViewGUI from "./UI/ThemeViewGUI.svelte"
import LayoutConfig from "./Models/ThemeConfig/LayoutConfig";

// Miscelleanous
Utils.DisableLongPresses()

const state = new ThemeViewState(new LayoutConfig(<any> layout))
const main = new SvelteUIElement(ThemeViewGUI, { state })
main.AttachTo("maindiv")
        
